body {
  background-image: url(/src/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 *{
  margin-left: 40px;
}
h2 *{
  margin left: 100px;
}
